 
/*==============================
	Fonts
==============================*/


/*==============================
	root variable
==============================*/
:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #033E4F;
    --red_color:#E4432D;
    --light_primary:#E5F6FF; 
    --manrope_font: "Manrope", sans-serif; 

}  

 /*--------------------------- auth flow ------------------------- */
 

  .form_bx{
    display: flex;
    align-items: center;
  }
 .auth_flow_area{
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 0;
 }

 .auth_flow_area::before{
    content: "";
    opacity: 0.5;
    background: var(--light_primary);
    filter: blur(120px);
    border-radius: 9999px;
    width: 512px;
    height: 643.19px;
   position: absolute;
right: -216px;
top: -313px;
    Z-INDEX: -1;
 }
.auth_title { 
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;
color: var(--primary);
margin-top: 40px;
}
.auth_title span{ 
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.auth_subtitle {
color: #41484B; 
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32.5px;  
}

.auth_card {
border-radius: 12px;
background: var(--light_primary);
padding: 24px;
  height: 100%;
}

.auth_form_box {
 
width: 100%;
padding: 40px;
max-width: 608px;
border-radius: 12px;
border: 1px solid rgba(192, 199, 204, 0.15) !important;
background: #FFF;
box-shadow: 0 12px 32px -4px rgba(0, 31, 41, 0.06) !important;

}
.form-control{
  border-radius: 8px;
background: rgba(0, 0, 0, 0.08);
display: flex;
padding: 12px 16px;
justify-content: center;
align-items: flex-start;
align-self: stretch;
color: #033f4f !important; 
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 24px;  
}
.form-control::placeholder{ 
color: #033f4fc0 !important; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;  
}
.form-control:focus{
  box-shadow: none;
}
label{
  color: #41484B; 
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 16px;  
margin-bottom: 8px;
}
 

.auth_btn {
border-radius: 8px;
background: var(--red_color);
color: var(--white);
text-align: center; 
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
height: 56px;
padding: 16px 25px;
border: 0;
}
.auth_btn:hover{
  border: 0;
background: var(--red_color) !important;

}
.auth_btn:focus{
background: var(--red_color) !important;

}
.auth_checklist { 
  padding: 20px;
  font-size: 13px;
  border-radius: 16px;
background: rgba(0, 0, 0, 0.05);
margin-bottom: 25px;

}
.auth_checklist ul{
  padding-left: 0;
}
.auth_checklist ul li{
  display: flex;
  align-items: center;
    gap: 12px;
    color: #41484B; 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;  
margin-bottom: 16px;
}
.auth_checklist ul li.rong{
  color: var(--red_color);
}
.auth_eye {
  position: absolute;
  right: 12px; 
  cursor: pointer;
}

.auth_flow_left .logo{
  width: 100%;
  max-width: 287px;
} 
.auth_form_box p{    
}
.auth_form_box p span{
  color: var(--primary); 
font-size: 14px;
font-style: normal;
font-weight: 700;

line-height: normal;
}
.alert-danger{
  border-radius: 8px;
border: 1px solid rgba(186, 26, 26, 0.20);
background: rgba(255, 218, 214, 0.40);
padding: 16px;
}
.alert-danger span{
  color: var(--red_color);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
.form-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-label span{
  display: flex;
  gap: 5px;
}
.auth_card .card-body .h5{
  color: var(--primary);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;  
}
.auth_card .card-body img{
  width: 25px;
height: 25px;
 margin-bottom: 12px;
}
.auth_card .card-body p{
color: #41484B; 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;  
}


.auth_form_box  h5{  
  color: var(--primary);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;  
}

.auth_form_box   p{
  color: #41484B; 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;  
margin-bottom: 30px;
}
/* Profile Upload Wrapper */
.profile_upload {
  text-align: center;
}

/* Circle Box */
.upload_circle {
  width: 120px;
  height: 120px;
  border: 2px dashed #d6d6d6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fafafa;
}

/* Hover Effect */
.upload_circle:hover {
  border-color: #0d6efd; /* bootstrap primary */
  background-color: #f0f6ff;
}

/* Icon inside */
.upload_circle img {
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

/* Text */
.profile_upload p {
  font-size: 13px;
  color: #6c757d;
}










.react-tel-input .form-control{
  background: #00000014 !important;
    border-radius: 8px !important;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    padding: 12px 16px ;
    display: flex;
    width: 100% !important;
    height: 50px !important;
  border-radius: 100px !important;  

}

.react-tel-input .flag-dropdown{
  background: #ebebeb !important;
  border-radius: 100px !important;  

  border: 0px !important;
}

.react-tel-input .selected-flag
{  background: #ebebeb !important;
  outline: 0 !important;
  border: 0px !important;
  border-radius: 100px !important;  

  border-radius: 100px; 


}
.react-tel-input{
  border-radius: 100px; 
  position: relative;
}
.react-tel-input .selected-flag{
  width: 48px;
}
.react-tel-input .flag-dropdown{
  left: 9px;
}


.auth_modal .modal-content{
border-radius: 16px;
background: #FFF;
box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.25);
width: 100%;
max-width: 400px;

}


.auth_modal .modal-body
{
  padding: 34px;
}

.auth_modal .modal-body h5{
  color: var(--primary);
text-align: center; 
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 28px;  
text-transform: capitalize;
}

.auth_modal .modal-body p{
  color: #41484B; 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
.forget_btn a{
  color: var(--red_color);
text-align: center; 
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;  
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 24px 0 0;
}


 .back_login{
color: var(--red_color);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}


.forgot_password_area .auth_form_box {
  margin-top: 40px;
}
.forgot_password_area .auth_form_box p span{
  color: var(--red_color);
  cursor: pointer;
}
.forgot_password_area {
  background: #F8FAFB;

}

.error_expire_sec .auth_form_box h5 {
  color: #191C1D;
text-align: center; 
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
text-transform: capitalize;
}

.error_expire_sec .auth_form_box p{
  color: #41484B;
text-align: center; 
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22.75px; 
width: 100%;
max-width: 384px;
margin: auto;
}


.error_expire_sec .auth_form_box p a{
  color: var(--primary); 
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.error_expire_sec .auth_form_box p.bold{
  color: var(--primary);  
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



/* dashboard css start  */

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #f5f7fb;
}

/* Layout */
.dash_layout {
  display: flex;
}

/* Sidebar */
.dash_sidebar {
  width: 256px;
  height: 100vh;
  background: var(--light_primary);
 padding:40px 16px; 
}
.dash_sidebar .logo{
  width: 181px;
height: 44px;
aspect-ratio: 181/44;
margin:0 16px 16px;
}
.dash_logo {
  color: #ff3b30;
  font-weight: 700;
}

.dash_menu {
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

.dash_menu li {
  padding: 12px 16px;
  margin: 6px 0;
  border-radius: 10px;
  cursor: pointer;
  color: var(--black); 
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 21px;  
opacity: 0.6;
display: flex;
align-items: center;
gap: 12px;
}
.dash_menu li img{
  filter: brightness(0) saturate(100%);

}
.dash_menu li.active img {
  filter: none;

}


.dash_menu li.active {
  background: var(--white);
  color: var(--red_color);
  opacity: 1;
  border-radius: 8px; 
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

}

.dash_menu span {
  background: red;
  color: #fff;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 8px;
  font-size: 12px;
}

.dash_logout { 
  border-radius: 8px;
background: var(--red_color);
display: flex;
height: 50px;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
align-self: stretch;
color: var(--white);
width: 100%;
color: #FFF;
text-align: center; 
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;  
border: 0;
margin-top: 100%;
}

/* Main */
.dash_main {
  flex: 1;
  padding: 20px 40px;
}

/* Header */
.dash_header {
  background: #eaf2fb;
  padding: 12px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash_search {
  width: 60%;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
}

.dash_header_right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dash_btn {
  background: #ff3b30;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
}

/* Titles */
.dash_title {
  margin-top: 20px;
}

.dash_subtitle {
  color: #666;
}

/* Cards */
.dash_cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dash_card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Table */
.dash_table_wrap {
  margin-top: 40px;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
}

.dash_table {
  width: 100%;
  border-collapse: collapse;
}

.dash_table th {
  text-align: left;
  padding-bottom: 10px;
}

.dash_table td {
  padding: 14px 0;
  border-top: 1px solid #eee;
}

/* Badges */
.dash_badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.dash_badge.dark { background: #1f2937; color: #fff; }
.dash_badge.blue { background: #0ea5e9; color: #fff; }
.dash_badge.gray { background: #6b7280; color: #fff; }

/* Urgency */
.dash_high { color: red; }
.dash_stable { color: green; }
.dash_moderate { color: orange; }

/* Responsive */
@media (max-width: 768px) {
  .dash_sidebar {
    display: none;
  }

  .dash_cards {
    flex-direction: column;
  }

  .dash_search {
    width: 100%;
  }
}









 /*--------------------------- responcive css start ------------------------- */


 @media (min-width: 1200px) {
 
}

@media screen and (max-width: 1450px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1350px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1250px) { 
}

@media screen and (max-width: 1200px) {
  .auth_form_box{
    max-width: 100%;
  }
.auth_flow_left {
  padding: 20px !important;
}
}


@media screen and (max-width: 1150px) { 
}



@media screen and (max-width: 1100px) { 
  .container-fluid {
    padding: 0 20px !important;
}
}



@media screen and (max-width: 1098px) { 
}


@media screen and (max-width: 992px) { 
}


@media screen and (max-width: 768px) { 
}


@media screen and (max-width: 550px) { 
  .auth_title{
    font-size: 32px;
    margin-top: 15px !important;

  }
  .auth_modal .modal-body {
    padding: 25px;
}
  .auth_title span{
    font-size: 32px;

  }
  .auth_form_box
  {
    padding: 12px;
  }
  .auth_subtitle{
    margin-top: 0px !important;
  }
  .auth_flow_left .logo{
    max-width: 180px;
  }
}


@media screen and (max-width: 450px) { 
}

@media screen and (max-width: 375px) { 
      .container-fluid {
        padding: 0 15px !important;
    }
}


@media screen and (max-width: 325px) { 
}



